<h1>Triangle Creator</h1>
  <form action="/triangle">
    <div class = "form-group">
      <label for="side_1">Enter the first side of your triangle</label>
      <input id="side_1" name="side_1" class="form-control" type="number">

      <label for="side_2">Enter the second side of your triangle</label>
      <input id="side_2" name="side_2" class="form-control" type="number">

      <label for="side_3">Enter the third side of your triangle</label>
      <input id="side_3" name="side_3" class="form-control" type=number>
    </div>
    <button id="submit_triangle" type="submit" class="btn-success">Submit</button>
  </form>
